:root {
    --main-bg-color: #f0f4f8;
    --accent-color: #2e5266;
    --secondary-color: #8e9eab;
    --text-color: #ecf0f1;
    --hover-opacity: 0.85;
    --box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    --transition-speed: 0.35s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    line-height: 1.7;
    padding: 0 2rem;
}

header, footer {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 20px 0;
    width: 100%;
    border-radius: 8px;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav li {
    cursor: pointer;
    transition: opacity var(--transition-speed);
}

nav li:hover {
    opacity: var(--hover-opacity);
}

nav div span {
    margin-left: 15px;
    cursor: pointer;
    border: 2px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
}

nav div span:hover {
    background-color: var(--text-color);
    color: var(--accent-color);
}

main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px;
    background-color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

section, h1, h2, p {
    margin-bottom: 30px;
}

h1, h2 {
    font-weight: 500;
    color: black;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px auto;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0; 
    font-size: 14px;
    border-top: 1px solid var(--secondary-color); 
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    body {
        padding: 0 1rem;
    }

    main {
        margin: 30px auto;
        padding: 20px;
    }
}
